<article class="h-screen w-full flex justify-center items-center">
    <div class="grid h-full w-full" style="grid-template-rows: 1fr 5fr;">
        <button [routerLink]="['/home']" class="inline-block border-e p-3 text-gray-700 hover:bg-gray-50 focus:relative" title="Edit Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </button>

        <div class="overflow-x-auto w-full flex justify-center ">
            <table class="w-2/3 divide-y-2 divide-gray-200 bg-white text-sm">
                <thead class="ltr:text-left rtl:text-right">
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Name</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Date of Birth</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Role</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Salary</th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    <tr>
                        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Jane Doe</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">04/11/1980</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">Web Designer</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700">$100,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</article>