.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  
.btn {
  width: 15vh;
  height: 6vh;
  background-color: rgb(119, 28, 28);
  border-radius: 2vh;
  border: 2px;
  border-color: rgb(94, 94, 94);
  text-align: center;
  color: white;
  margin-top: 4vh;
}

.btn:disabled{
  color: rgb(56, 56, 56);
  background-color: rgb(34, 0, 0);

}