<div class="fixed  sihjihusihus z-50 inset-0 overflow-y-auto">
    <div class="flex sihjihusihus items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
  
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

      <video autoplay muted loop>
        <source src="http://localhost:4200/assets/videos/moleculasfuego.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
        </video>
        
  
      <div class=" sihjihusihus  inline-block align-bottom bg-red-100 rounded-md text-left shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg w-120">
        <section class="logo-cont flex justify-center items-center ">
            <h1 class="titulo">BATALLA NAVAL</h1>
        </section>
        <div class="sihjihusihus w-80 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
            
          <div class="sm:flex sm:items-start w-80">
            <div class="butonsj">
                <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse sihjihusihus">
                    <button (click)="loadPage(currentPage() + 1)" class="w-full inline-flex justify-center rounded-full border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                      siguiente 
                    </button>
                    <button [disabled]="currentPage() <= 1"
                      (click)="loadPage(currentPage() - 1)" class="w-full inline-flex justify-center rounded-full border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-white hover:text-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                      pa atras
                    </button>
                  </div>
              <h3 class="text-lg leading-6 font-medium text-white" id="modal-title">
                Estadisticas
              </h3>
              <div class="nohay" *ngIf="nohay">
                <h1>NO HAY DATOS QUE MOSTRAR</h1>
              </div>
              <div class="mt-5" *ngIf="!nohay">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50 sihjihusihus">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                      fecha
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white ppercase tracking-wider">
                      resultado
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                      jugador 1
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">
                      jugador 2
                    </th>
                  </tr>
                  </thead>
                  <tbody class="sihjihusihus divide-y divide-gray-200">
                  <tr *ngFor="let game of games()">
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-white">{{game.created_at | date:'short'}}</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <span *ngIf="game.player_id == game.winner_id" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-white text-black">
                        Ganada
                      </span>
                                  <span *ngIf="game.player_id != game.winner_id" class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-white text-black">
                        Perdida
                      </span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-white">{{game.player1_name}}</div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-white">{{game.player2_name}}</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>
  