<app-global-loader *ngIf="isSubmitting" />

<div class=" fondoAnimado text-gray-900 flex justify-center">
    <video autoplay muted loop>
        <source src="http://localhost:4200/assets/videos/moleculasfuego.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>

    <div class=" primerc max-w-screen-xl m-0 sm:m-10 sm:rounded-lg flex justify-center flex-1" style="background-color: #00000000;">

        <div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
          <section class="logo-cont flex justify-center items-center ">
                <h1 class="titulo">BATALLA NAVAL</h1>
            </section>

            <div class="mt-5 flex flex-col items-center justify-center">
                <div class="w-full flex-1 mt-8">
                    <form class="mx-auto max-w-xs" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="textInputWrapper">
                            <input
                            name="name"
                            formControlName="name"
                            placeholder="Your Name" type="text" class="textInput">

                          <div class="alert"
                               *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
                            <div
                              *ngIf="registerForm.controls['name'].errors?.['required']">Name is required.
                            </div>
                            <div
                              *ngIf="registerForm.controls['name'].errors?.['minlength']">
                              Name must be at least 3 characters long.
                            </div>
                          </div>
                        </div>

                        <div class="textInputWrapper">
                            <input
                            name="email"
                            formControlName="email"
                            placeholder="Your Email" type="text" class="textInput">
                          <div class="alert"
                               *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                            <div
                              *ngIf="registerForm.controls['email'].errors?.['required']">Email is required.
                            </div>
                            <div
                              *ngIf="registerForm.controls['email'].errors?.['email']">
                              Incorrect format for email.
                            </div>
                          </div>
                        </div>
                        <div class="textInputWrapper">
                            <input
                            name="password"
                            formControlName="password"
                            placeholder="Your Password" type="password" class="textInput">

                          <div class="alert"
                               *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                            <div
                              *ngIf="registerForm.controls['password'].errors?.['required']">Password is required.
                            </div>
                            <div
                              *ngIf="registerForm.controls['password'].errors?.['minlength']">
                              Password must be at least 6 characters long.
                            </div>
                          </div>
                        </div>

                        <div class="textInputWrapper">
                            <input
                            name="confirmPassword"
                            formControlName="passwordConfirm"
                            placeholder="Confirm your Password" type="password" class="textInput"
                            >
                          <div class="alert"
                               *ngIf="registerForm.controls['passwordConfirm'].invalid && (registerForm.controls['passwordConfirm'].dirty || registerForm.controls['passwordConfirm'].touched)">
                            <div
                              *ngIf="registerForm.controls['passwordConfirm'].errors?.['required']">Password confirmation is required.
                            </div>
                            <div
                              *ngIf="registerForm.controls['passwordConfirm'].errors?.['minlength']">
                              Password confirmation must be at least 6 characters long.
                            </div>
                          </div>
                        </div>
                        <button [disabled]="!registerForm.valid || isSubmitting"
                                class="mt-5 tracking-wide font-semibold text-white-500 w-full py-4 rounded-full hover:bg-green-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none" style="background-color: #ffacac;">
                            <svg class="w-6 h-6 -ml-2" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path d="M16 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2" />
                                <circle cx="8.5" cy="7" r="4" />
                                <path d="M20 8v6M23 11h-6" />
                            </svg>
                            <span class="ml- text-black">
                                Registrar Cuenta
                            </span>
                        </button>
                        <p class="mt-6 text-xs text-white text-center">
                            Ya tienes una cuenta?
                            <a
                            (click)="login()"
                            class="hover:underline cursor-pointer text-red-500">
                            Loguearse</a>
                        </p>
                      <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
