  
.titulo {
    font-size: 8vh;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family:'Times New Roman', Times, serif;
    line-height: 1
    
}
.logo-cont{
    height: 4rem;
    width: 100%;
}

video {
    position: fixed; 
    top: 50%;
    left: 50%; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto; 
    transform: translate(-50%, -50%); 
    filter: contrast(150%);
}


.textInputWrapper {
    position: relative;
    margin: 35px 5px;
    --accent-color: #000000;
  
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .textInputWrapper:before,
  .textInputWrapper:after {
    content: "";
    left: 0;
    right: 0;
    position: absolute;
    pointer-events: none;
    bottom: -1px;
    z-index: 4;
    width: 100%;
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
  }
  
  .textInputWrapper:before {
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
  }
  
  .textInputWrapper:focus-within:before {
    border-bottom: 1px solid var(--accent-color);
    transform: scaleX(1);
  }
  
  .textInputWrapper:focus-within:after {
    border-bottom: 2px solid var(--accent-color);
    transform: scaleX(1);
  }
  
  .textInputWrapper:after {
    content: "";
    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    will-change: transform;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-color: var(--accent-color);
  }
  
  .textInput::placeholder {
    transition: opacity 250ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    opacity: 1;
    user-select: none;
    color: rgba(255, 255, 255, 0.644);
  }
  
  .textInputWrapper .textInput {
    border-radius: 5vh;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.63);
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 200ms;
    transition-property: background-color;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px;
    width: 100%;
    border-left: none;
    border-bottom: none;
    border-right: none;
  }
  
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    outline: none;
  }
  
  .textInputWrapper:focus-within .textInput,
  .textInputWrapper .textInput:focus,
  .textInputWrapper .textInput:active {
    background-color: #000000;
  }
  
  .textInputWrapper:focus-within .textInput::placeholder {
    opacity: 0;
  }
  
.alert {
  color: #ef3042;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: transparent;
  padding: .5rem;
}


.primerc {
  z-index: 1;
  position: absolute;
  width: 120vh;
}

.fondoAnimado {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  color: text-gray-900;
  overflow: hidden;
  align-items: center;
  background: #000000;
}


.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

