<app-global-loader text="Looking for Player..." [textng]="true" (close)="closeCreateGame()" btntext="Cancel" [btnng]="true" [disabled]="disab" *ngIf="isSubmitting" />
<app-global-loader text="Looking for Game..." [textng]="true" (close)="closeSearchGame()" btntext="Cancel" [btnng]="true"  *ngIf="isSubmitting2" />
<app-global-loader *ngIf="isSubmitting3" />


<div class=" fondoAnimado text-gray-900 flex justify-center">
    
    <div class=" primerc max-w-screen-xl m-0 sm:m-10 sm:rounded-lg flex justify-center flex-1" style="background-color: #00000000;">

        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        
        <div class="ksl lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
            
            <section class="logo-cont flex justify-center items-center ">
                <div class="logo h-full w-full"></div>
            </section>

            <h1 class="name">{{userName}}</h1>

            <button (click)="creategame()"class="button">
                <span class="liquid"></span>  
                <span class="btn-txt">Create Game</span>
              </button>
          
              <button (click)="joingame()"class="button">
                <span class="liquid"></span>  
                <span class="btn-txt">Search Game</span>
              </button>
              <button (click)="stadistics()"class="button">
                <span class="liquid"></span>  
                <span class="btn-txt">Statistics</span>
              </button>
          
              <button (click)="logout()"  class="button">
                <span class="liquid"></span>  
                <span class="btn-txt">Logout</span>
              </button>
        </div>
    </div>
</div>
