
    <app-global-loader text="Buscando un jugador..." [textng]="true"  btntext="Cancel" [btnng]="true" (close)="cerrar1()" *ngIf="load1" />
    <app-global-loader text="Buscando un juego..." [textng]="true"  btntext="Cancel" [btnng]="true" (close)="cerrar2()" *ngIf="load2" />
    <div class="fondoAnimado text-gray-900 justify-center" >

        <video autoplay muted loop>
            <source src="http://localhost:4200/assets/videos/moleculasfuego.mp4" type="video/mp4">
            Tu navegador no soporta videos HTML5.
        </video>

        <div class=" primerc " style="background-color: #ffffff00;">

            <section class="logo-cont flex justify-center items-center ">
                <h1 class="titulo">BATALLA NAVAL</h1>
            </section>

          <h5 class="text-white" >{{userName}}</h5>
            
          <div  class="flex justify-center items-center flex-col gap-2 ">
            <div class="btn-contain">
              <button (click)="startQueue()" type="button">
                <span>Crear partida</span>
              </button>
            </div>
            <div class="btn-contain">
              <button (click)="joinRandomGame()" type="button">
                <span>Buscar una partida</span>
              </button>
            </div>
            <div class="btn-contain">
              <button (click)="openHistory()">
                <span>Historial de juego</span>
              </button>
            </div>
            <div class="btn-contain">
              <button (click)="logout()">
                <span>Cerrar sesion</span>
              </button>
            </div>
          </div>  
        </div>
    </div>
    
    
    