input{
    font-size: 1.8rem;
    color: black;
  }
  
  .l{
    width: 100%;
  }
  
  
  
  .primerc {
    z-index: 1;
    background-color: rgb(155, 0, 0);
  }
  
  .fondoAnimado {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: text-gray-900;
    overflow: hidden;
    background: #000000d3;
  }
  

  
 
  
  .loadr {
    z-index: 3;
  }
  .img{
    width: 10rem;
    height: 10rem;
    background-size: cover;
    background-position: center;
  }
  
  .alert{
    position: absolute;
    width: 30%;
    bottom: 10vh;
    right: 0;
    z-index: 100;
    animation: slideIn 0.5s forwards;
  }
  
  .successInput{
    border: 2px solid green;
  }
  
  @keyframes slideOut {
    from {
        right: 0;
    }
    to {
        right: -100%;
    }
  }
  @keyframes slideIn {
    from {
        right: -100%;
    }
    to {
        right: 0;
    }
  }