<main>
    <app-background/>
    <div class="cont h-screen w-full flex justify-center items-center">
        <div class="grid gap-10" style="grid-template-rows: 1fr 3fr;">
            <div class="title flex justify-center items-center">
                    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl ">Batalla <span class="text-white">naval</span> juego</h1>
            </div>
            <div class="options gap-10 flex ">
                <app-simple-button message="Crear una partidad nueva"/>
                <app-simple-button message="Buscar una partida"/>
                <app-simple-button message="Cerrar sesion"/>
            </div>
        </div>
    </div>
</main>